@model Juegos.MVC.ViewModels.VMJuego;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Juego</title>
</head>
<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="@Model.Juego.Nombre">Nombre:</label>
            <input asp-for="@Model.Juego.Nombre" />
        </div>
        <div>
            <label asp-for="@Model.FechaEstreno">Fecha de estreno:</label>
            <input asp-for="@Model.FechaEstreno">
        </div>
        <div>
            <label asp-for="@Model.Juego.Descripcion">Descripcion:</label>
            <input asp-for="@Model.Juego.Descripcion">
        </div>
        <div>
            <select asp-for="IdGeneroSeleccionado">
                <option value="">Elegi una opción</option>
                @foreach (Juegos.Core.Genero genero in Model.Generos)
                {
                    <option value="@genero.Id">@genero.Nombre</option>
                }
            </select>
        </div>
        <button type="submit">Alta Producto</button>
    </form>
</body>
</html>